body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    height: 50px;
}

.menu-hamburger {
    cursor: pointer;
    font-size: 24px;
    color: #005a87;
}

.menu-hidden {
    display: flex;
    position: relative; /* Posizionamento relativo al loro contenitore */
    top: 0; /* Mantiene la posizione verticale standard */
    left: 1200px; /* Distanza dall'icona del menù a hamburger, aggiusta secondo necessità */
    background-color: transparent;
    box-shadow: none;
    opacity: 0; /* Inizia da invisibile */
    transform: translateY(-10px) translateX(0); /* Modifica per posizionare i link come desiderato */
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1500; /* Alto indice per assicurare la sovraimpressione */
    flex-direction: row; /* Elementi in linea orizzontale */
    align-items: center; /* Centrati verticalmente nel loro contenitore */
    padding-left: 10px; /* Spazio extra a sinistra per non attaccare troppo i link all'icona */
    white-space: nowrap; /* Impedisce agli elementi di andare a capo */
}

.menu-hidden.visibile {
    opacity: 1; /* Diventa visibile */
    transform: translateY(0); /* Torna alla posizione originale */
}


nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    margin: 0 10px; /* Riduci lo spazio tra gli elementi del menù */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cccccc;
}






.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px; /* Aggiustato per compensare l'altezza della navbar fissa */
    flex-wrap: wrap; /* Permette al contenuto di andare a capo su schermi piccoli */
}

.video-container {
    flex: 0 0 35%;
    margin-right: 20px;
    position: relative;
    padding-top: 25%;
    margin-top: 100px;

}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; /* Aggiungi questo per arrotondare gli angoli */
    box-shadow: 0 6px 10px rgb(0, 0, 0);
}

.text-container {
    flex: 1;
    padding: 20px;
    text-align: left;
    padding-top: 100px;
}

.cards-section {
    display: flex;
    justify-content: space-around;
    margin-top: 100px; /* Distanza dalla sezione precedente */
    flex-wrap: wrap; /* Permette alle card di andare a capo su schermi piccoli */
}

.card {
    background-color: #ffffff; /* Sfondo bianco per le card */
    border-radius: 15px; /* Bordo arrotondato */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ombra per dare profondità */
    width: 30%; /* Larghezza delle card */
    margin-bottom: 50px; /* Spazio tra le card e il contenuto sotto */
    overflow: hidden; /* Nasconde parti dell'immagine che fuoriescono */
}

.card img {
    width: 100%; /* Assicura che l'immagine copra la larghezza della card */
    display: block; /* Rimuove spazi extra sotto l'immagine */
    border-top-left-radius: 15px; /* Arrotonda gli angoli superiori dell'immagine */
    border-top-right-radius: 15px;
}

.card p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Utilizza un font pulito e moderno */
    font-size: 16px; /* Dimensione del testo appropriata */
    line-height: 1.6; /* Interlinea per migliorare la leggibilità */
    color: #333; /* Colore del testo scuro per contrasto, ma non troppo forte */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Leggera ombreggiatura per profondità */
    padding: 15px; /* Spazio intorno al testo all'interno della card */
    margin: 0; /* Rimuove il margine di default del paragrafo */
}



footer {
    background-color: #005a87;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}



