body {
    overflow-x: hidden;
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    height: 50px;
}

.menu-hamburger {
    cursor: pointer;
    font-size: 24px;
    color: #005a87;
    display: block; /* Visible on all devices, hidden dynamically by JS if needed */
    position: relative;
    z-index: 1501;
}

.menu-hidden {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    position: fixed; /* Fixed to be visible during scroll */
    top: 70px;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1500;
}

.menu-hidden.visibile {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cccccc;
}


.content-section, .cards-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    flex-wrap: wrap;
}

.video-container {
    flex: 0 0 35%;
    margin-right: 20px;
    position: relative;
    padding-top: 25%;
    margin-top: 100px;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgb(0, 0, 0);
}

.text-container {
    flex: 1;
    padding: 20px;
    text-align: left;
    padding-top: 100px;
}

.cards-section {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 30%;
    margin-bottom: 50px;
    overflow: hidden;
}

.card img {
    width: 100%;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 0;
}

footer {
    background-color: #005a87;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .menu-hamburger {
        display: block; /* Mostra il menu hamburger su schermi piccoli */
    }

    .video-container {
        flex: 1 0 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
        height: 0; /* This maintains aspect ratio */
        margin-top: 20px;
        position: relative; /* Assicura che il video sia posizionato correttamente */
    }

    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card {
        width: 100%; /* Full width on small screens */
        margin-bottom: 20px;
    }
}
