body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    height: 50px;
}

.menu-hamburger {
    cursor: pointer;
    font-size: 24px;
    color: #005a87;
}

.menu-hidden {
    display: flex;
    position: relative; /* Posizionamento relativo al loro contenitore */
    top: 0; /* Mantiene la posizione verticale standard */
    left: 1200px; /* Distanza dall'icona del menù a hamburger, aggiusta secondo necessità */
    background-color: transparent;
    box-shadow: none;
    opacity: 0; /* Inizia da invisibile */
    transform: translateY(-10px) translateX(0); /* Modifica per posizionare i link come desiderato */
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1500; /* Alto indice per assicurare la sovraimpressione */
    flex-direction: row; /* Elementi in linea orizzontale */
    align-items: center; /* Centrati verticalmente nel loro contenitore */
    padding-left: 10px; /* Spazio extra a sinistra per non attaccare troppo i link all'icona */
    white-space: nowrap; /* Impedisce agli elementi di andare a capo */
}

.menu-hidden.visibile {
    opacity: 1; /* Diventa visibile */
    transform: translateY(0); /* Torna alla posizione originale */
}


nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    margin: 0 10px; /* Riduci lo spazio tra gli elementi del menù */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
}


nav ul li a:hover {
    color: #cccccc;
}

/* Il resto del CSS rimane invariato come da tua richiesta */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #ffffff; /* Cambia il colore di sfondo in un blu più vivace */
    margin-top: 150px; /* Mantiene lo spazio superiore per spostarla più in basso */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra per un effetto sollevato */
    border-radius: 10px; /* Bordi arrotondati per un aspetto più morbido */
    color: #333; /* Cambia il colore del testo in bianco per contrastare con lo sfondo */
    width: calc(100% - 40px); /* Assicura che la barra si estenda mantenendo il padding della pagina */
    position: relative; /* Posizionamento relativo per potenziali aggiustamenti */
    left: 50%; /* Centra la barra */
    transform: translateX(-50%); /* Ajustamento preciso del centro */
   
}


.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #007bff;
    margin-top: 10px;
}

.personal-info p {
    margin: 5px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.personal-info p .icon {
    width: 24px;
    margin-right: 10px;
}

.personal-info p:nth-child(2), .personal-info p:nth-child(3) {
    font-size: 14px;
}




.social{
    margin: 5px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
   
    
    
   
}


.ig{
   
    width: 50px;
    height: 50px;
    object-fit: cover;
    
   
}

.tiktok
{
    
    width: 45px;
    height: 45px;
    object-fit: cover;
    
   
}

.bio, .experience, .education {
    background-color: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2, h3, h5, p {
    margin: 0;
    padding: 0;
}

h3 {
    color: #010204;
    margin-bottom: 5px;
}

h5 {
    color: #010204;
    margin-top: 5px;
    font-size: smaller;
}

li p {
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

p a[href^="mailto:"] {
    color: #007bff;
    text-decoration: none;
}

p a[href^="mailto:"]:hover {
    text-decoration: underline;
}
